body {
  background-image: url("../img/Background.jpg");
  background-size: cover;
}

.projectsbg {
  background-image: url("../img/bg3.jpg");
  background-size: cover;
}

.aboutmebg {
  background-image: url("../img/bg2.jpg");
}

.top h1 {
  font-family: inherit;
  font-size: 75px;
}

.top h3 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  font-size: 40px;
}

.top {
  text-align: center;
  border: solid 3px rgba(169,18,176,255);
  padding: 5px;
  margin: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: rgb(237, 236, 243);
  text-shadow: 4px 1px #501275;
  display: none;
}

.projectlink {
  border: ridge 2px #d415e4;
  border-radius: 15px;
  margin:5px;
  padding: 3px;
  float: right;
  font-size: 35px;
  color: #501275;
  background-color: #091a54;
  box-shadow: 5px 6px #04061a;
}


.aboutmelink {
  border: ridge 2px #d415e4;
  border-radius: 15px;
  margin: 5px;
  padding: 2px;
  float: left;
  font-size: 35px;
  color: #501275;
  background-color: #091a54;
  box-shadow: 5px 6px #04061a;
}

a {
  color: #52d7ea;
  text-shadow: 2px 2px #661e99;
}

.p1 {
  text-align: center;
  color: #bfd0f5;
  text-shadow: 5px 5px#9fbbf728;
  text-shadow:-1px -1px rgb(0, 0, 0);
  border: solid 3px rgba(169,18,176,255);
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  border-bottom: hidden;
  border-top: hidden;
  background-color: rgb(4,6,26,.1);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: none;
  
}

.p2 {
  color: #bfd0f5;
  text-shadow: 5px 5px #9fbbf744;
  text-shadow:-1px -1px rgb(0, 0, 0);
  border: solid 3px rgba(169,18,176,255);
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  border-bottom: hidden;
  border-top: hidden;
  width: 300px;
  margin: auto;
  background-color: rgb(4,6,26,.5);
  display: none;
}

.aboutmep1 {
  text-align: center;
  border: solid 3px #e76055;
  padding: 5px;
  margin: 20px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: #d1ecf1;
  text-shadow: 2px 2px #000000;
  font-size: 18px;
  background-color: rgb(4,6,26,.5);
}

.aboutmep2 {
  text-align: center;
  border: solid 3px #000000;
  padding: 5px;
  margin: 20px;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: #d1ecf1;
  text-shadow: 2px 2px #000000;
  font-size: 18px;
  background-color: rgb(4,6,26,.5);

}

.aboutmeh1 {
  text-align: center;
  border: solid 3px #e76055;
  padding: 5px;
  margin: 20px;
  width: 575px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: #20d2f7;
  text-shadow: 4px 1px #000000;
  font-size: 65px;
  background-color: rgb(4,6,26,.2);
}

.listlikes {
  border: solid 3px #eed137;
  padding: 5px;
  margin: 20px;
  width: 300px;
  float: left;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: #eed137;
  text-shadow: 2px -1px #000000;
  font-size: 18px;
  background-color: rgb(4,6,26,.2);
}

.listlikes h3{
  text-align: center;
  color: #3283e1;
  font-size: 45px;
}

.futurelist {
  border: solid 3px #eed137;
  padding: 5px;
  margin: 20px;
  width: 420px;
  float: right;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: #eed137;
  text-shadow: 2px -1px #000000;
  font-size: 18px;
  background-color: rgb(4,6,26,.2);
}

.futurelist h3 {
  text-align: center;
  color: #3283e1;
  font-size: 45px;  
}

.projecttop h2 {
  font-family: inherit;
  font-size: 75px;
  text-align: center;
  border: solid 3px rgba(169,18,176,255);
  padding: 5px;
  margin: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: rgb(237, 236, 243);
  text-shadow: 4px 1px #501275;
}

.projecttop p{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  font-size: 40px;
  text-align: center;
  border: solid 3px rgba(169,18,176,255);
  padding: 5px;
  margin: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: rgb(237, 236, 243);
  text-shadow: 4px 1px #501275;
}

.examplespan { 
  font-weight: lighter;
}

.projectlist {
  text-align: center;
  border: solid 3px #000000;
  padding: 5px;
  margin: 20px;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: #d1ecf1;
  text-shadow: 2px 2px #000000;
  font-size: 18px;
  background-color: rgb(4,6,26,.5);
}

.checkitout {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  font-size: 40px;
  text-align: center;
  border: solid 3px rgba(169,18,176,255);
  padding: 5px;
  margin: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: rgb(237, 236, 243);
  text-shadow: 4px 1px #501275;
}

#likesshowing {
  display: none;
}

#futurelistshowing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

#futurelisthidden {
  border: solid 3px #eed137;
  padding: 5px;
  margin: 20px;
  width: 420px;
  float: right;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: #eed137;
  text-shadow: 2px -1px #000000;
  font-size: 18px;
  background-color: rgb(4,6,26,.2);
}

#likeshidden {
  border: solid 3px #eed137;
  padding: 5px;
  margin: 20px;
  width: 420px;
  float: right;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
  color: #eed137;
  text-shadow: 2px -1px #000000;
  font-size: 18px;
  background-color: rgb(4,6,26,.2);
}

