body {
  background-image: url("../img/Background.jpg");
  background-size: cover;
}

.projectsbg {
  background-image: url("../img/bg2.jpg");
  background-size: cover;
}

.aboutmebg {
  background-image: url("../img/bg3.jpg");
}

.top {
  color: rgb(255, 255, 255);
}

.top h1 {
  font-family: inherit;
  font-size: 75px;
}

.top h3 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  font-size: 30px;
}

.top {
  text-align: center;
  border: solid 3px rgba(169,18,176,255);
  padding: 5px;
  margin: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
}

.projectlink {
  border: ridge 2px #d415e4;
  border-radius: 15px;
  margin:5px;
  padding: auto;
  float: right;
  font-size: 35px;
  color: #501275;
  background-color: #091a54;

}


.aboutmelink {
  border: ridge 2px #d415e4;
  border-radius: 15px;
  margin: 5px;
  padding: auto;
  float: left;
  font-size: 35px;
  color: #501275;
  background-color: #091a54;
  
}

a {
  color: #52d7ea;
}

