body {
  background-image: url("../img/Background.jpg");
  background-size: cover;
}

.projectsbg {
  background-image: url("../img/bg2.jpg");
  background-size: cover;
}

.aboutmebg {
  background-image: url("../img/bg3.jpg");
}

.top {
  color: rgb(255, 255, 255);
  text-shadow: 4px 1px #501275;
}

.top h1 {
  font-family: inherit;
  font-size: 75px;
}

.top h3 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  font-size: 30px;
}

.top {
  text-align: center;
  border: solid 3px rgba(169,18,176,255);
  padding: 5px;
  margin: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border-bottom: hidden;
  border-top: hidden;
}

.projectlink {
  border: ridge 2px #d415e4;
  border-radius: 15px;
  margin:5px;
  padding: 3px;
  float: right;
  font-size: 35px;
  color: #501275;
  background-color: #091a54;
  box-shadow: 5px 6px #04061a;
}


.aboutmelink {
  border: ridge 2px #d415e4;
  border-radius: 15px;
  margin: 5px;
  padding: 2px;
  float: left;
  font-size: 35px;
  color: #501275;
  background-color: #091a54;
  box-shadow: 5px 6px #04061a;
}

a {
  color: #52d7ea;
  text-shadow: 2px 2px #661e99;
}

.p1 {
  text-align: center;
  color: #bfd0f5;
  text-shadow: 5px 5px#9fbbf728;
  text-shadow:-1px -1px rgb(0, 0, 0);
}

.p2 {
  text-align: center;
  color: #bfd0f5;
  text-shadow: 5px 5px #9fbbf744;
  text-shadow:-1px -1px rgb(0, 0, 0);
}

